github "Alamofire/Alamofire"
github "SwiftyJSON/SwiftyJSON"
github "kishikawakatsumi/KeychainAccess"
github "Mozharovsky/CVCalendar"
github "onevcat/Kingfisher"
github "krzyzanowskim/CryptoSwift"
github "skywinder/GaugeKit"
github "dennisweissmann/DeviceKit"
github "PhamBaTho/BTNavigationDropdownMenu"
github "yzyzsun/CurriculaTable"
github "SVProgressHUD/SVProgressHUD"
github "skywinder/ActionSheetPicker-3.0"
github "ZipArchive/ZipArchive"
github "ealeksandrov/EAIntroView"
